:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

:where(
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl
):where([class]) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}

:where(fieldset[class]) {
    margin-left: 0;
    padding: 0;
    border: none;
}

:where(ul[class]) {
    list-style: none;
}

:where(address[class]) {
    font-style: normal;
}

p { 
    margin-block: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
textarea,
select,
button {
    font: inherit;
}

html {
    height: 100%;
    scrollbar-gutter: stable;
}

html,
:has(:target) {
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    line-height: 1.5;
}

a:where([class]) {
    display: inline-flex;
}

button,
label,
input {
    cursor: pointer;
}

svg * {
    transition-property: fill, stroke;
}

:where(table) {
    border-collapse: collapse;
    border-color: currentColor;
}
